<div style="position:absolute; top:30vh; width:100%; text-align:center">
    <h1><span style="color:orangered">Oga</span><span style="color:blue">Books</span></h1>
    <p><i class="spinner-grow"></i> @Message ...</p>

</div>

@code {
    [Parameter] public string Message { get; set; }
}
